@import '/static/iconfont/iconfont.css';

@font-face {
    font-family: 'REGULAR';
    font-style: normal;
    src: url('/static/fonts/SOURCEHANSANSCN-REGULAR.OTF') format('truetype');
}

@font-face {
    font-family: 'BAHNSCHRIFT';
    font-style: normal;
    src: url('/static/fonts/BAHNSCHRIFT.TTF') format('truetype');
}

*,
body {
    font-family: REGULAR !important;
}
